<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
      <tbody>
        {% if checks %}
        {% for url_check in url_checks %}
        <tr>
          <td>{{url_check.id}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{url_check..created_at}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    
    </tbody>
    </table>
</div>